.venv/
dataset/

blockchain_log.json

private_key.pem
public_key.pem

streamlit_temp/
temp_uploads/

__pycache__/
*.pyc

*.zip

*.jpg
*.png

outputs/

# Streamlit
.streamlit/

# Outputs
outputs/
temp_test/

# Training runs
runs/

# Allow deployment models
!runs/currency_yolo11n-3/
!runs/currency_yolo11n-3/weights/
!runs/currency_yolo11n-3/weights/best.pt

!runs/authenticity_new/
!runs/authenticity_new/best_authenticity_mobilenetv2_new.pt

# Logs
*.log

# OS
.DS_Store
Thumbs.db